/* Definição de variáveis de cores e fontes para o tema */
:root {
  --font-family: 'Inter', sans-serif;
  --background-color: #121212; /* Preto suave */
  --surface-color: #1e1e1e;    /* Cinza escuro para cards e inputs */
  --primary-color: #9370DB;     /* Roxo (MediumPurple) */
  --danger-color: #E53E3E;      /* Vermelho para alertas e botões de apagar */
  --text-color: #E0E0E0;        /* Cinza claro para texto */
  --text-color-secondary: #a0a0a0;
  --border-color: #333;
}

/* Reset e Estilos Globais */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Estilo para o container principal da aplicação */
#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}