:root {
  --font-family: 'Inter', sans-serif;
  --background-color: #f4f4f5; 
  --surface-color: #ffffff;   
  --primary-color: #9370DB;    
  --danger-color: #E53E3E;      
  --text-color: #18181b;       
  --text-color-secondary: #52525b; 
  --border-color: #e4e4e7;
  
  --tag-bg: var(--background-color); 
  --tag-text: var(--text-color-secondary);
  --tag-border: var(--border-color);
  --tag-delete-bg: #e2e8f0;        
  --tag-delete-text: #334155;     
  
  color-scheme: light;
}

[data-theme='dark'] {
  --background-color: #121212;
  --surface-color: #1e1e1e;
  --primary-color: #9370DB;
  --danger-color: #E53E3E;
  --text-color: #E0E0E0;
  --text-color-secondary: #a0a0a0;
  --border-color: #333;

  --tag-bg: var(--surface-color);  
  --tag-text: var(--text-color);      
  --tag-border: var(--border-color);
  --tag-delete-bg: #e2e8f0;         
  --tag-delete-text: #334155;      

  color-scheme: dark;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}