:root {
  --font-family: 'Inter', sans-serif;
  --background-color: #121212; 
  --surface-color: #1e1e1e;    
  --primary-color: #9370DB;    
  --danger-color: #E53E3E;      
  --text-color: #E0E0E0;       
  --text-color-secondary: #a0a0a0;
  --border-color: #333;
}

/* Reset e Estilos Globais */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}